In [2]:
import pandas as pd
dataname = 'sim_lg'
seed = 100
data_path = f'./data/{dataname}/{seed}/generated_graph_data.csv'
data_df = pd.read_csv(data_path)
data_df.head()

,V0,V1,V2,V3,V4,V5,V6,V7,V8,V9,target
0,0.381207,0.211914,1.490113,0.123198,0.749049,0.390499,-0.599489,-0.037882,-0.652700,-0.881502,1
1,0.058996,0.539085,1.015035,-0.909204,0.639659,-0.243348,-0.551073,0.069206,-0.504713,0.231558,0
2,-0.315817,0.949947,-3.514617,1.278340,1.435778,1.228910,0.571234,0.437819,0.491508,0.933091,0
3,-0.961118,0.957271,-0.970104,0.142788,0.996361,0.314946,1.135836,-0.733759,1.107239,0.359648,1
4,-2.194807,1.013660,-0.299076,1.439753,-1.002923,-1.252618,-0.675609,-0.903884,-0.693694,1.956928,0

In [3]:
import pandas as pd
dataname = 'sim_lg'
seed = 100
data_path = f'./data/{dataname}/{seed}/generated_graph_data.csv'
data_df = pd.read_csv(data_path)
data_df.head()

,V0,V1,V2,V3,V4,V5,V6,V7,V8,V9,target
0,-0.968197,0.158265,-1.615796,0.526666,1.289754,0.538275,0.162606,0.510938,0.769656,1.180222,0
1,-0.474560,0.147097,0.001602,1.101396,0.555244,1.282113,1.405951,1.248630,1.471503,0.478463,1
2,-0.423086,-1.425918,0.957020,1.851156,-0.648140,1.752593,-0.272955,0.283302,-0.025894,-0.627340,0
3,0.067403,-0.657971,0.141693,-1.656321,0.507961,-1.758878,0.255290,0.505100,0.025347,0.568436,0
4,0.174486,-0.173800,0.769319,-0.896601,1.026292,-0.930162,0.017591,0.278713,0.342490,0.833472,1

In [2]:
import pandas as pd
dataname = 'sim_lg'
seed = 100
data_path = f'./data/{dataname}/{seed}/generated_graph_data.csv'
data_df = pd.read_csv(data_path)
data_df.head()

,V0,V1,V2,V3,V4,V5,V6,V7,V8,V9,target
0,0.381207,0.211914,1.490113,0.123198,0.749049,0.390499,-0.599489,-0.037882,-0.652700,-0.881502,1
1,0.058996,0.539085,1.015035,-0.909204,0.639659,-0.243348,-0.551073,0.069206,-0.504713,0.231558,0
2,-0.315817,0.949947,-3.514617,1.278340,1.435778,1.228910,0.571234,0.437819,0.491508,0.933091,0
3,-0.961118,0.957271,-0.970104,0.142788,0.996361,0.314946,1.135836,-0.733759,1.107239,0.359648,1
4,-2.194807,1.013660,-0.299076,1.439753,-1.002923,-1.252618,-0.675609,-0.903884,-0.693694,1.956928,0